# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('.//Resources//hawaii_measurements.csv')
#df.head()
print(df.dtypes)

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [3]:
# Convert the date column format from string to datetime

df["date"] = pd.to_datetime(df["date"])
#print(df.dtypes)
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

### Compare June and December data across all years

In [4]:
from scipy import stats

In [5]:
# Filter data for desired months
df['year'] = pd.DatetimeIndex(df["date"]).year
df['month'] = pd.DatetimeIndex(df["date"]).month
#df.head()
June=df.loc[df['month'] == 6]
#June
Dec=df.loc[df['month'] == 12]
#Dec

In [6]:
# Identify the average temperature for June
JuneAvg=June['tobs'].mean()
JuneAvg

74.94411764705882

In [7]:
# Identify the average temperature for December
DecAvg=Dec['tobs'].mean()
DecAvg

71.04152933421226

In [8]:
# Create collections of temperature data
#See Dec and June (3 panes up)

In [9]:
# Run paired t-test
stats.ttest_ind(June['tobs'],Dec['tobs'],equal_var=False)

Ttest_indResult(statistic=31.355036920962423, pvalue=4.193529835915756e-187)

### Analysis

In [10]:
# A paired t-test is designed to compare the means of the same group or item under two separate scenarios. 
# An unpaired t-test compares the means of two independent or unrelated groups. In an unpaired t-test, the variance between groups is assumed to be equal. 
# An unpaired t-test is used because temperatures in June are not related to temperatures in December
# pvalue indicates rejection of null hypothesis, these two samples are statistically signifacnt --pvalue=4.193529835915756e-187